<div class="container">
  <div class="jumbotron" style="margin: 10px">
      <h2 style="text-align: center;padding: 10px"><b>Register</b></h2>
      <h5 style="text-align: center"><b>Enter the valid E-mail address and the password!</b></h5>
      <form action="">
        
          <p style="text-align:center; padding: 20px">
          E-mail :<input type="text" name="email" placeholder="Email address" email required style="padding-right: 60px;margin-left: 80px"></p>
          
          <p style="text-align:center; padding-bottom: 20px">
          Reconfirm E-mail :<input type="text" name="email" placeholder="Confirm email address" email required style="padding-right: 60px;margin-left: 5px"></p>
              
          <p style="text-align:center; padding-bottom: 20px">
          Password :<input type="text" name="password" placeholder="Password" required style="padding-right: 60px;margin-left: 55px;margin-bottom: 20px"><br>
          
          <button class="btn btn-primary" style="margin-top: 20px"> Register</button></p>          
       
      </form>
  </div>
</div>