<div class="container"> 
        <div class="header">
                <nav class="navbar navbar-expand-lg navbar-light ">
                        <div class="collapse navbar-collapse" id="navbar">
                        <div class="navbar-nav" routerLinkActive="active">
                                <a class="nav-item nav-link" routerLink="/"><img class="ima" src="https://www.freepnglogos.com/uploads/logo-home-png/chimney-home-icon-transparent-1.png" alt="image">Home</a>
                                <a class="nav-item nav-link" routerLink="/signin">Sign In</a>
                                <a class="nav-item nav-link" routerLink="/signup">Sign Up</a>
                                <a class="nav-item nav-link" routerLink="/aboutus">About Us</a>
                                <a class="nav-item nav-link" routerLink="/contactus">Contact Us</a>
                  
                        </div>
                        </div>
                </nav>
        </div>
        <div class="container">
                <router-outlet></router-outlet>
        </div>
</div>
