
<div class="container" >
  <div class="bg" style="background-image: url(https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80);margin-top: 10px; padding: 150px;image-resolution: inherit;">
    <h2 style="color:rgb(8, 8, 8);text-align:right;">Hello There!</h2>    
    <h3 style="color: rgb(8, 8, 8);text-align: right">Welcome to Sweet Reads!</h3>
    <p style="color: white;text-align: right;margin-left: 300px;">The most extensive collection of free books information is available on Sweet Reads! If you pick the right book, you may find some of the best book quotes to inspire you...</p>
  </div>
</div>
      